body{
    margin: 0;
    background-image: url(/img/BG.png);
    background-color: rgba(18, 17, 19, 1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 4500px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
p{
    margin: 0;
}
header{
    background-color: black;
    padding: 20px 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo p{
    margin-left: 10px;
}
nav{
    width: 70%;
}
nav ul{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    margin: 10px;

}
.first{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    position: relative;
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 120px;
    Letter-spacing: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 span{
    position: absolute;
    right: 35%;
    top: 40px;
    font-size: 100px;
}
.first p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 30%;
    margin-bottom: 70px;
    font-size: 50px;
    color: #2D45D5;
}
.first a{
    padding: 20px 50px;
    background-color: #2D45D5;
    border-radius: 15px;
    margin-left: 15%;
}
.first a:hover{
    border: 1px solid #2D45D5;
    background-color: black;
    color: #2D45D5;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.new{
    margin-top: 200px;
}
.new-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.slide{
    display: flex;
}
.slide .img{
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #585858;
    border-radius: 10px;
    margin-right: 50px;
}
.slide .img img{
    width: 300px;
    height: 200px;
}
.slide-text p{
    margin-bottom: 80px;
}
.slide-text a{
    border-radius: 15px;
    padding: 20px 40px;
    border: 1px solid #2D45D5;
    
    color: #2D45D5;
}
.slide-text a:hover{
    color: white;
    background-color: #2D45D5;
}
.arrow-right{
    margin-left: 50px;
    
}
.arrow-left{
    margin-right: 50px;
}
.arrow{
    height: 20px;
    width: 20px;
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(32, 32, 32, 0.5);
    
}
.arrow:hover{
    background-color: rgba(88, 88, 88, 1);
}
.programs{
    margin-top: 250px;
    margin-bottom:300px;
}
.programs-inner{
    display: flex;
    margin-bottom: 80px;
}
.programs-inner .item{
    padding: 20px;
    border: 1px solid #2D45D5;
    position: relative;
    border-radius: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(18, 17, 19, 1);
    width: 38%;
    
}
.programs-inner .item:hover{
    background-color: #585858;
}
.programs-inner .item a{
    background-color: rgba(18, 17, 19, 1) !important;
    border: 1px solid #2D45D5;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    border-radius: 15px;
}

.fuq{

}
h2{
    margin-bottom: 50px;
}
.items .item h3{
    margin-top: 0;
    margin-bottom: 40px;
}
.fuq-inner{
    display: flex;
    align-items: center;
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}
.items .item{
    border: 1px solid #2D45D5;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.items .item h3{
    color: #2D45D5;
    font-size: 25px;
}
footer{
    background-color: black;

}
footer .container{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
footer nav{
    width: auto;
}
.footer-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
}
.footer-txt a{
    margin-bottom: 20px;
}
footer nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main{
    margin-bottom: 400px;
}
.arrow-up{
    position: fixed;
    right: 10px;
    bottom: 10px;
}